body {
    text-align: center;
    margin: 0;
    background-color: beige;
}
header {
background: rgb(250, 250, 221);
color: rgb(90, 109, 52);
height: 400px;

justify-content: center;
align-items: center;
}

img {
    border: thick ridge rgb(96, 129, 30);
    width: 100%;
    height: auto;
}

main {
    background: rgb(207, 207, 175);
    width: 400px;
    margin: 20px auto;
    padding: 30px;
}
h3 {
    margin-top: 0;
    font-size: 22px;
    color: rgb(90, 109, 52);
}
button {
    border-radius: 50%;
    color: whitesmoke;
    background-color: red;
    padding: 18px;
    font-size: medium;
}
form {
font-size: large;
}
footer{

}
input[type=text]{
    width: 50%;
    text-align: center;
}
input[type=email]{
    width: 50%;
    text-align: center;
}
input[type=address]{
    width: 50%;
    text-align: center;
}
input[type=submit]{
    margin-top: 20px;
    width: 200px;
    height: 25px;
    background-color: rgb(141, 168, 85);
}
input[type=radio]{

}
h4{
    font-size: larger;
}